pipeline/pipe_01_IngestWWI.json
{
	"name": "pipe_01_IngestWWI",
	"properties": {
		"activities": [
			{
				"name": "Set CurrentTimestamp",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "CurrentTimestamp",
					"value": {
						"value": "@formatDateTime(utcNow(), 'yyyyMMddhhmmss')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Get IngestConfig",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Set CurrentTimestamp",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": false,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "IngestConfig",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "IsActive",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Get IngestConfig",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get IngestConfig').output.value",
						"type": "Expression"
					},
					"condition": {
						"value": "@item().isActive",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach Source Table",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "IsActive",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('IsActive').output.Value",
						"type": "Expression"
					},
					"batchCount": 4,
					"activities": [
						{
							"name": "Copy source table",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Delete Destination Files",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"additionalColumns": [
										{
											"name": "Meta_InsertDatetimeUTC",
											"value": {
												"value": "@formatDateTime(utcNow(),'yyyy-MM-ddTHH:mm:ssZ')",
												"type": "Expression"
											}
										},
										{
											"name": "Meta_SourceSystem",
											"value": {
												"value": "WWI",
												"type": "Expression"
											}
										}
									],
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings",
										"copyBehavior": "FlattenHierarchy"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "WWI",
									"type": "DatasetReference",
									"parameters": {
										"SchemaName": {
											"value": "@item().SrcSchemaName",
											"type": "Expression"
										},
										"TableName": {
											"value": "@item().SrcTableName",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "IngestParquet",
									"type": "DatasetReference",
									"parameters": {
										"ContainerName": "lakehouse",
										"PathName": {
											"value": "@concat('landing/wideworldimporters/',item().TrgtTableName)",
											"type": "Expression"
										},
										"FileName": {
											"value": "@concat(item().TrgtTableName,'_',variables('CurrentTimestamp'))",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Delete Destination Files",
							"type": "Delete",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "LandingPath",
									"type": "DatasetReference",
									"parameters": {
										"ContainerName": "lakehouse",
										"PathName": {
											"value": "@concat('landing/wideworldimporters/', item().TrgtTableName)",
											"type": "Expression"
										}
									}
								},
								"enableLogging": false,
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"CurrentTimestamp": {
				"type": "String"
			}
		},
		"folder": {
			"name": "A-Source-Landing/WWI"
		},
		"annotations": [],
		"lastPublishTime": "2023-12-08T15:13:03Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}